*{ margin:0; padding:0; text-decoration:none; list-style:none;  }
body{ font-family:Arial; background:#efefef; }
.cl{ clear:both; }
#header{ width:950px; background:white; overflow:hidden;  margin:0 auto; padding:5px;  }
#header .logo a{ color:#1576B3; }
#header .menu a{ padding:10px; margin-right:10px; text-align:center; float:left; 
    background:white; color:black; }
#header .menu a:hover{ background:#efefef; color:rgba(0,0,0,0.7);}

#container{ width:950px; overflow:hidden; margin:0 auto; background:white; 
    border-top:1px solid rgba(0,0,0,0.3); padding:5px; }

#container .post{ border-bottom:1px dashed rgba(21,118,179, 0.5); overflow:hidden; width:650px; 
    float:left; } 
#container .post .title a{ color:#1576B3; }
#container .post .title a:hover{ color:#B35215; }
#container .post .info{ float:right; color:rgba(0,0,0,0.5);  }

#container .sidebar{ float:right; width:150px; border-left:1px dashed rgba(21,118,179,0.5); 
    padding:15px;  }

#container .pagination{ display:block; }
#container .pagination span a{ float:left; background:white; color:black; padding:10px;
    text-align:center; margin-right:10px; }
#container .pagination span a:hover{ background:#efefef; color:rgba(0,0,0,0.8);}

#container #comment p textarea{ font-family:Arial; border:1px solid rgba(0,0,0,0.8); 
    font-size:12pt; padding:15px; width:650px; min-height:100px;  }

#container #comment .comment{ border:1px solid rgba(21,118,179,0.5); border-radius:10px;
    padding:10px; width:600px;   }
#container #comment .comment .username{ font-weight:bold; color:rgb(21,118,179); display:block; }
#container #comment .comment textarea{ width:200px !important; height:100px !important;  }
#container #form{ border:5px solid rgba(0,0,0,0.3);  
    overflow:hidden; border-radius:10px; padding:12px; }
#container #form .line{ display:block; overflow:hidden;  }
#container #form .line .required{ font-weight:bold; color:red; } 
#container #form .line label{ font-weight:bold; float:left; margin:10px 15px 0 0;  }
#container #form .line input{ float:right; padding:3px;  border-radius:4px; margin-top:5px;  }
#container #form .line input[type='submit']{ float:right;  }
#container #form .line textarea{ height:150px; width:200px; float:right; }

#container #profile-menu{ width:100%; margin:0 auto;  }
#container #profile-menu a{ background:rgba(21,118,179,0.3); color:white; padding:10px; 
        border-bottom:1px dashed rgba(0,0,0,0.2); font-weight:bold; }
#container #profile-menu a:nth-child(1){ border-radius:10px 0 0 0px; }
#container #profile-menu a:nth-child(2){ border:0 1px 0 1px solid red; margin:-3px;}   
#container #profile-menu a:nth-last-child(1){ border-radius:0 10px 0px 0; }
#container #profile-menu a:hover{ background:#B35215; }   

#container .profile-tab{ display:none; background:rgba(21,118,179,0.3); margin-top:-9px; padding:5px; 
    border-radius:0 0 10px 0; }
#container .active{ display:block; }    

.messages{ width:100%; overflow:hidden; position:absolute; }
.messages li{ position:relative; left:25%; width:950px; color:white; font-size:11pt; padding:3px; font-weight:bold; } 
.messages li.info{ background:rgba(91,192,222,0.8); }
.messages li.success{ background:rgba(91,184,192,0.8); }
.messages li.warning{ background:rgba(217,83,79,0.8); }
