{% load humanize  %}
{% load i18n %}
    {% include "header.html" %}
        <div id="container">
            <div class="post">
                <h2 class="title"><a href="#">{{ post.name }}</a></h2>
                <div class="content">
                    {{ post.content }}
                </div>
                <div class="info"><i>{{ post.updated_at|naturaltime }} yazıldı | Yazar: <a href="#">{{ post.user.first_name }}</a></i></div>
            </div>
             
          {% include "sidebar.html" %} 
           <!-- 
                <div class="cl"></div>
               <div class="pagination">
                    <span><a href="#">1</a></span>
                    <span><a href="#">2</a></span>
                    <span><a href="#">1</a></span>
                    <span><a href="#">1</a></span>
                    <span><a href="#">1</a></span>
                    <span><a href="#">1</a></span>
                    <span><a href="#">1</a></span>

        </div>
        -->
        <div class="cl"></div>
    <div id="comment">
        {% for k, v in comment_dict.items %}
            {% if v.is_parent %}
                <div class="comment">
                    {% if v.comment.user %}
                        <span class="username">{{ v.comment.user.username }}</span>
                    {% else %}
                        <span class="username">Anon</span>
                    {% endif %}
                    <span class="content">{{ v.comment.comment }}</span>
  <form id="comment_form" method="POST" action="/add_comment/{{ post.id }}/comment/{{ v.comment.id }}/">
            {{ comment_form.field_errors }}
            {% csrf_token %}
                <p>{{ comment_form.email }}</p>
                <p>{{ comment_form.comment }}</p>
                {{ comment_form.email.errors }}
                {{ comment_form.comment.errors }}
                <p><input type="submit" name="add_comment" id="add_comment" value="{% trans 'send' %}" /></p>
            </form>

                    {% if v.child %}
                        {% with comments=v.child template_name='comment_tree.html' %}
                            {% include template_name %}
                        {% endwith %}
                    {% endif %}
                <div class="cl"></div>

                </div>
            {% endif %}
        {% endfor %}
  <form id="comment_form" method="POST" action="/add_comment/{{ post.id }}/post/{{ post.id }}/">
            {{ comment_form.field_errors }}
            {% csrf_token %}
                <p>{{ comment_form.email }}</p>
                <p>{{ comment_form.comment }}</p>
                {{ comment_form.email.errors }}
                {{ comment_form.comment.errors }}
                <p><input type="submit" name="add_comment" id="add_comment" value="{% trans 'send' %}" /></p>
            </form>
                <div class="cl"></div>

    </div>
    <script>
    $(function(){
        $(".answer").click(function(){
            $(this).children("form").show()
            $(this).children("span").html("");
        });            
    });
    </script>
    </body>
</html>
