{% load i18n %}
{% include "header.html" %}
        <div id="container">
          <form method="POST" action="{% url 'edit_post' post_id %}">
          {% csrf_token %}
          <div id="form" style="width:350px;">
          {{ form.field_errors }}
          {% for field in form %}
            <div class="line">
                {{ field.label_tag }}
                {% if field.field.required %}<span class="required">*</span>{% endif %}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="line">
                <input type="submit" name="submit" value="{% trans 'save' %}" />
            </div>


          </div>
          </form>
        </div>
    </body>
</html>
