{% load i18n %}
{% load humanize  %}
    {% include "header.html" %}
        <div id="container">
          <form method="POST" action=".">
          {% csrf_token %}
          <div id="form" style="width:350px;">
          {{ form.field_errors }}
          {% for field in form %}
            <div class="line">
                {% if field.name == "username" %}
                    <label for="id_username">{% trans 'Email Address' %}</label>
                {% else %}
                    {{ field.label_tag }}
                {% endif %}
                {% if field.field.required %}<span class="required">*</span>{% endif %}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="line">
                <input type="submit" name="submit" value="{% trans 'register' %}" />
            </div>


          </div>
          </form>
        </div>
    </body>
</html>
