{% load i18n %}
{% include "header.html" %}
        <div id="container">
            <div class="cl"><br></div>
            <div id="profile-menu">
                <a href="javascript:void(0);" tab="profile-info" class="active-head">{% trans 'Profile Info' %}</a> 
                <a href="javascript:void(0);" tab="posts">{% trans 'Your Posts' %}</a> 
                <a href="javascript:void(0);" tab="password-change">{% trans 'Password Change' %}</a> 
            </div>
            <div class="cl"><br></div>
            <div id="profile-info" class="profile-tab active">
          <form method="POST" action="{% url 'user_profile' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div id="form" style="width:350px;">
          {{ profile_form.field_errors }}
          {% for field in profile_form %}
            <div class="line">
                {{ field.label_tag }}
                {% if field.field.required %}<span class="required">*</span>{% endif %}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="line">
                <input type="submit" name="submit" value="{% trans 'update' %}" />
            </div>
          </div>
          </form>
            </div>
            <div id="posts" class="profile-tab">
                <table border="1">
                    <tr>
                        <th>{% trans 'Post' %}</th>
                        <th>{% trans 'Edit' %}</th>
                    </tr>
            {% for post in posts %}
                    <tr>
                        <td><a href="{% url 'detail' post.id %}">{{ post.name }}</td>
                        <td><a href="{% url 'edit_post' post_id=post.id %}">{% trans 'Edit' %}</a></td>
                    </tr>
            {% endfor %}
                </table>
            </div>
            <div id="password-change" class="profile-tab">
          <form method="POST" action="{% url 'password_change' %}">
          {% csrf_token %}
          <div id="form" style="width:400px;">
          {{ password_change_form.field_errors }}
          {% for field in password_change_form %}
            <div class="line">
                {{ field.label_tag }}
                {% if field.field.required %}<span class="required">*</span>{% endif %}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="line">
                <input type="submit" name="submit" value="{% trans 'update' %}" />
            </div>
          </div>
          </form>
            </div>
        </div>
    </body>
    <script>
        function hide_all(){
            $("#profile-info").hide();
            $("#posts").hide();
            $("#password-change").hide();

            $("#profile-menu a").removeClass("active-head");

        }
        $(function(){
            $("#profile-menu a").click(function(){
                $tab = $(this).attr("tab");
                hide_all();
                $(this).addClass("active-head");
                $("#"+$tab).toggle();
            });                    
        });
    </script>
</html>
